<mat-tab-group mat-align-tabs="start" style="padding-top: 40px; padding-left: 2%; padding-right: 2%;">
    <mat-tab label="Carros a combustão">
        <div fxLayout="row" fxLayoutAlign="start center" >
            <div style="margin: 0.5%;">
                <mat-card class="example-card"
                fxFlex="0 1 calc(33.3% - 11px)"
                fxFlex.lt-md="0 1 calc(50% - 11px"
                fxFlex.lt-sm="100%">

                    <mat-card-header>

                    </mat-card-header>
                    <mat-card-content>
                      <p>
                        O motor de combustão interna é o principal mecanismo para locomoção destes tipos de veículos. A mistura de combustível e ar com uma centelha de faísca provoca explosão que fornece energia suficiente para mover os pistões.
                        O movimento linear dos pistões é transferido por meio de um mecanismo de manivela para o movimento rotacional e uma transmissão é responsável pela transferência desta rotação para as rodas.
                        Em um motor a combustão, a produção de força e energia nunca é uniforme. Os componentes ligados ao pistão causam problemas de equilíbrio mecânico e diversos acessórios são necessários para resolver estes problemas, o que torna o motor mais pesado. Grande parte da energia produzida
                        pelo motor é perdida em forma de calor e apenas cerca de 30% é convertida em trabalho para movimentar os eixos.
                      </p>
                    </mat-card-content>
                  </mat-card>
            </div>
        </div>
    </mat-tab>

    <mat-tab label="Carros Eletricos">
      <div fxLayout="row" fxLayoutAlign="start center" >
          <div style="margin: 0.5%;">
              <mat-card class="example-card"
              fxFlex="0 1 calc(33.3% - 11px)"
              fxFlex.lt-md="0 1 calc(50% - 11px"
              fxFlex.lt-sm="100%">

                  <mat-card-header>

                  </mat-card-header>
                  <mat-card-content>
                    <p>
                      Carros elétricos são veículos que funcionam, principalmente por eletricidade. Também chamados de veículos elétricos, ou VE, eles utilizam um ou mais motores elétricos para tração e propulsão.
                       Diferentemente dos veículos convencionais que utilizam motores de combustão interna por gasolina, álcool ou diesel, os carros e caminhões elétricos utilizam motores alimentados por eletricidade, que é armazenada em baterias ou células a combustível.
                    </p>
                  </mat-card-content>
                </mat-card>
          </div>
      </div>
  </mat-tab>

  <mat-tab label="Carros Hibridos">
    <div fxLayout="row" fxLayoutAlign="start center" >
        <div style="margin: 0.5%;">
            <mat-card class="example-card"
            fxFlex="0 1 calc(33.3% - 11px)"
            fxFlex.lt-md="0 1 calc(50% - 11px"
            fxFlex.lt-sm="100%">

                <mat-card-header>

                </mat-card-header>
                <mat-card-content>
                  <p>
                    Os carros híbridos são uma alternativa viável para quem deseja ser mais sustentável, mas ainda não pode se dar ao luxo de ter um carro elétrico
                     isso porque eles têm dois motores: um que funciona com combustível comum e outro por eletricidade.
                     É importante observar que existem vários tipos de carros híbridos, que se diferenciam pela forma como utilizam cada motor. O sistema mais comum é o híbrido misto,
                      no qual a central eletrônica faz cálculos o tempo todo para decidir qual fonte de energia deve ser usada em cada momento.
                      Geralmente, é possível rodar na cidade apenas com o motor elétrico, gastando muito pouco ou nenhum combustível.
                      Quando o carro híbrido acelera ou a bateria acaba, o motor a combustão é acionado.
                  </p>
                </mat-card-content>
              </mat-card>
        </div>
    </div>
</mat-tab>

  </mat-tab-group>
